# TIL (thx to cockroachdb):
# Editor or environment-specific entries should not be committed to the
# repository but can be kept in git's global configuration:
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
